@import "~bootstrap/scss/bootstrap";

// General styles

@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0 2px;
  background-color: lightblue;
  font-family: $Roboto-fonts !important;
  width: 99.9%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

h2.header {
  text-align: center;
  margin: 3rem auto 3rem auto;
  font-weight: bold;
}

a.navigation,
button.navigation {
  font-size: 150% !important;
}

div.stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h3 {
    font-weight: 500;
  }
}

div.info {
  background-color: lightyellow;
  text-align: center;
  width: 408px;
  margin: 10px auto 10px auto;
  border: 1px solid grey;
  a {
    text-decoration: none;
  }
  p {
    margin-bottom: 5px;
  }
}

.modal-dialog {
  margin-top: 100px;
  a {
    text-decoration: none;
  }
}
